.unslider{
	box-shadow: 0px 0px 15px #777;
	border-bottom: 2px solid #FE5A31;
}
.my-slider{
	height:350px;
}
.slide{
	
	height: 350px;
	width: 100%;
	background-position: center center;
	background-size:cover; 
}
#slide1{
	background-image:url(../images/mercedes.jpg);
	background-position: 0px 41%;
	
}
#slide2{
	background-image:url(../images/audi.jpg);
	background-position: 0px 64%;
}
#slide3{
	background-image:url(../images/pasat.jpg);
	background-position: 0px 69%;
	
}
.unslider-arrow {
    position: absolute;
    left: 20px;
    z-index: 2;
    cursor: pointer;
    top: 38%;
}